<div class="ui menu vertical fluid">
  <div class="item">
    <span>Site Admin</span>
    <div class="menu">
      <%= link_to 'sites admin', site_sites_path, class: active_controller('sites') %>
    </div>
  </div>
</div>