<div class="ui segment breadcrumb">
  <%= link_to '返回', admin_list_items_path(@list), class: 'section' %>
  <div class="divider"> / </div>
  <%= link_to @list.name, admin_list_items_path(@list), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">新建</div>
</div>

<div class="ui segment">
  <%= form_with model: [:admin, @list, @item] do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
