<div class="ui segment breadcrumb">
  <%= link_to @item.list.name, admin_list_items_path(@item.list), class: 'section' %>
  <div class="divider"> / </div>
  <div class="section">编辑</div>
</div>

<div class="ui segment">

  <%= form_with model: @item, as: :item, url: admin_list_item_path(@list, @item), method: :patch do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>

</div>