<div class="ui menu vertical fluid">
  <div class="item">
    <span>知识管理</span>
    <div class="menu">
      <%= link_to '知识管理', { controller: 'detail/my/knowledges' }, class: active_helper(controllers: 'my/knowledges') %>
    </div>
  </div>
  <div class="item">
    <span>分类管理</span>
    <div class="menu">
      <%= link_to '分类', { controller: 'detail/admin/lists' }, class: active_helper(controllers: ['admin/lists', 'admin/items']) %>
    </div>
  </div>
</div>
