<% if @content.picture %>
<div class="ui image">
  <%= image_tag QiniuHelper.qiniu_url(@content.picture.key) %>
</div>
<% end %>
<div id="content_<%= @content.id %>">
  <%= @content.body %>
  <%= link_to edit_task_content_path(@task, @content), remote: true, class: 'grey text' do %>
    <i class="grey write square icon"></i>
  <% end %>
</div>



