<% if @content.is_a?(Picture) %>
<div class="ui image">
  <%= image_tag QiniuHelper.qiniu_url(@content.key) %>
</div>
<% end %>
<div id="content_<%= @content.id %>">
  <%= @content.body %>
  <%= link_to edit_detail_content_path(@detail, @content), remote: true, class: 'grey text' do %>
    <i class="grey write square icon"></i>
  <% end %>
</div>



