<div class="row">

  <div>
    <%= render :partial => 'nav', :locals => { :sorts => @sorts } %>
  </div>

  <div class="span9">
    <% if @wiki.size > 1 %>
      <div class="diff">
        <%= simple_format Diff.diff(@wiki[-2].content, @wiki[-1].content) %>
      </div>
    <% else %>
      <div><%= simple_format @wiki[0].content %></div>
    <% end %>
  </div>

</div>
