<% if @minor.errors.empty? %>

  $('#minor_<%= @knowledge.id %>').html('<%= j render partial: 'knowledges/minor', locals: { knowledge: @knowledge } %>').hide().fadeIn('fast');
  $('new_wiki').fadeOut('fast');

<% else %>

  $('<span class="error-message"><%= escape_javascript(@minor.errors.full_messages.join(',')) %></span>').appendTo($('#new_wiki'))

<% end %>
