<div data-controller="menu" class="menu ex-accordion is-active">
  <div class="menu-label">
    <div>
      <i class="fa-solid fa-fw fa-users"></i>
      <span><%= t('detail.admin.title') %></span>
    </div>
   </div>
  <div class="menu-list">
    <%= link_to t('detail.admin.lists.index.title'), { controller: 'detail/admin/lists' }, class: active_helper(controllers: 'lists', active: 'is-active') -%>
  </div>
</div>
