<div class="menu-list">
  <div class="menu-item">
    <%= svg_tag 'users' %>
    <span><%= t('detail.admin.title') %></span>
  </div>
  <div class="pl-4">
    <%= link_to t('detail.admin.lists.index.title'), { controller: 'detail/admin/lists' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'lists', item: 'menu-item', active: 'menu-item is-active') -%>
  </div>
</div>
