<div class="sixteen wide column">

  <div class="ui breadcrumb">
    <%= link_to 'back', site_navigations_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">New</div>
  </div>

  <div>
    <%= render 'form' %>
  </div>

</div>