<div class="ui menu vertical fluid">
  <div class="item">
    <span>分类管理</span>
    <div class="menu">
      <%= link_to '分类', admin_lists_path, class: active_controller('admin/lists', 'admin/items') %>
    </div>
  </div>
  <div class="item">
    <span>知识管理</span>
    <div class="menu">
      <%= link_to '知识管理', admin_knowledges_path, class: active_controller('admin/knowledges') %>
    </div>
  </div>
</div>