<%= form_with theme: 'line', model: @knowledge, url: { action: 'update' } do |f| %>
  <%= f.text_area :body, label: nil %>
  <div class="field is-grouped">
    <%= f.submit nil, origin: { offset: nil }, wrap: { all: nil, submit: 'control' } %>
    <div class="control">
      <%= link_to '取消', cancel_path, class: 'button is-light' %>
    </div>
  </div>
<% end %>
