<article class="media">
  <figure class="media-left">
    <%= image_tag knowledge.main_image if knowledge.main_image.attached? %>
  </figure>
  <div class="media-content">
    <h2 class="title"><%= knowledge.title %></h2>
    <div class="content">
      <%= knowledge.body %>
    </div>
  </div>
</article>
<div data-controller="input">
  <%= check_box_tag '[user]disabled', knowledge.id, @select_ids.include?(knowledge.id), data: { method: :patch, url: knowable_my_knowledge_path(params[:knowable_type], params[:knowable_id], knowledge.id), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
  <label></label>
</div>
