<ul class="breadcrumb">
  <li><%= link_to @ask.title, ask_path(@ask) %></li>
  <li class="active">编辑答案</li>
</ul>

<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>

