<ol class="breadcrumb">
  <li><%= link_to t('layouts.navbar.baike'), wikis_path %></li>
  <li class="active"><%= @solo.name %></li>
  <li class="pull-right"><%= link_to '编辑标题', edit_wiki_path(@solo) %></li>
</ol>

