<div id="contents">
  <div id="content_<%= note.id %>">
    <div>
      <%= simple_format note.body %>
      <%= link_to edit_detail_note_path(note.detail_type, note.detail_id), remote: true, class: 'grey text' do %>
        <i class="grey write square icon"></i>
      <% end %>
    </div>
  </div>
</div>

<div id="detail_contents_add">
  <%= render 'rails_detail/contents/add_link' %>
</div>


