<div class="">
  <h3>
    <%= link_to wiki_path(wiki) do %>
      <%= wiki.name %>
      <small><%= wiki.subname %></small>
    <% end %>
  </h3>
  <div><%= ex_simple_format wiki.content %></div>
</div>

