<div class="select field is-narrow">
  <%= select_tag 'taxon_item[item_id]', options_from_collection_for_select(@items, :id, :name), class: 'three wide field', form: "taxon_item_new_#{params[:uid]}" %>
</div>
