<tr data-controller="input">
  <% uid = rand(99999) %>
  <td>
    <%= form_with model: @taxon_item, url: admin_taxon_items_path, class: 'field-body', id: "taxon_item_new_#{uid}" do %>
      <div class="select field is-narrow" id="taxon_item_list_id_<%= uid %>">
        <%= select_tag 'taxon_item[list_id]', options_for_select(@lists, @taxon_item.list_id), include_blank: true, data: { url: url_for(action: 'new_item'), params: "uid=#{uid}", action: 'input#submit' }, form: "taxon_item_new_#{uid}" %>
      </div>
    <% end %>
  </td>
  <td>
    <%= submit_tag t('.save'), class: 'button is-primary', form: "taxon_item_new_#{uid}" %>
    <button class="button is-danger" data-action="input#remove">取消</button>
  </td>
</tr>
