<div class="sixteen wide column">

  <div class="ui breadcrumb">
    <%= link_to 'Back', site_pages_path, class: 'section' %>
    <div class="divider"> / </div>
    <div class="active section">Edit</div>
  </div>

  <div>
    <%= render 'form' %>
  </div>

</div>