<div class="<%= active_helper(modules: 'detail/admin', active_class: 'menu ex-accordion is-active', item_class: 'menu ex-accordion') %>" data-controller="menu">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fas fa-users fa-fw"></i>
    <span><%= t('auth.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
  <div class="menu-list">
    <%= link_to '分类', admin_lists_path, class: 'item' %>
  </div>
</div>
