<div class="panel panel-default">
  <div class="panel-heading"><%= link_to t('.new'), new_my_knowledge_path %></div>
</div>

<div>
<% @knowledges.each do |knowledge| %>
  <%= render partial: 'knowledge', locals: { knowledge: knowledge } %>
<% end %>
</div>
