<div class="panel panel-default">
  <div class="panel-heading"><%= link_to t('.new'), new_my_knowledge_path, remote: true %></div>
</div>

<table class="table">
<% @knowledges.each do |knowledge| %>
  <%= render partial: 'knowledge', locals: { knowledge: knowledge } %>
<% end %>
</table>
